<div class="page-header">
  <%= link_to rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_room_path(@room), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show room</h1>
</div>





<div class="row">
  
        <div class="col-md-8">

          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">

            <% unless @pictures.empty? %>
              <% @pictures.each do |pic| %>                
                  <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                  <%= image_tag pic.attachment.url(:thumb) %>   
                   </a> 
                </div>              
              <% end %>
            <% end %>


           
          </div>
        </div>

          
         </div>
        <div class="col-md-4">


            <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
          

             <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

         </div>





 </div>

 <div class="row">
  
        <div class="col-md-12">


            <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
        
        </div>
       
 </div>
